// Basic Color
$white: #fff;
$black: #000;
$primary: #2c5daa;
$secondary: #012147;
$ternary: #979dac;
$border: #cccce3;
$gray: #fbfbfd;
$light-gray: #fafafa;

// Accent color
$accent: #1cab8f;
$blue: #095bff;
$red: #fc0000;
$orange: #e9590f;
